In [1]:
import pandas as pd

In [3]:
!ls data

README.md        example_data.csv quakes.db
earthquakes.csv  parsed.csv       tsunamis.csv

In [6]:
!head -3 data/parsed.csv

alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,net,nst,place,rms,sig,sources,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
,,37389218,https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci37389218&format=geojson,0.008693000000000001,,85.0,",ci37389218,",1.35,ml,,ci,26.0,"9km NE of Aguanga, CA",0.19,28,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventpage/ci37389218,California
,,37389202,https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci37389202&format=geojson,0.020030000000000003,,79.0,",ci37389202,",1.29,ml,,ci,20.0,"9km NE of Aguanga, CA",0.29,26,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventpage/ci37389202,California

In [8]:
df = pd.read_csv('data/parsed.csv')

In [10]:
df.head(3)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...,California
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...,California
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...,California

**1. Find the 95th percentile of earthquake magnitude in Japan using the mb magnitude type.**

In [20]:
df.shape

(9332, 27)

In [12]:
df.magType.value_counts()

ml       6803
md       1796
mb        601
mww        68
mb_lg      30
mwr        14
mh         12
mw          4
mwb         2
ms_20       1
Name: magType, dtype: int64

In [19]:
df[ (df.parsed_place.str.contains('Japan')) & (df.magType == 'mb') ].shape

(50, 27)

In [24]:
df[ (df.parsed_place.str.contains('Japan')) & (df.magType == 'mb') ].mag.quantile(.95)

4.9

**2. Find the percentage of earthquakes in Indonesia that were coupled with tsunamis.**

In [25]:
df.head(2)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...,California
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...,California

tsunami is 1 or 0. So percentage is equal to the sum divided by the number of observations, which is just the mean.

In [27]:
df[df.parsed_place.str.contains('Indonesia')].tsunami.mean()

0.23129251700680273

In [62]:
df[df.parsed_place == 'Indonesia'].tsunami.value_counts()

0    113
1     34
Name: tsunami, dtype: int64

In [ ]:
df[df.parsed_place == 'Indonesia'].tsunami.value_counts()

In [63]:
df[df.parsed_place == 'Indonesia'].tsunami.value_counts(normalize=True)

0    0.768707
1    0.231293
Name: tsunami, dtype: float64

In [64]:
df[df.parsed_place == 'Indonesia'].tsunami.value_counts(normalize=True)[1]

0.23129251700680273

In [69]:
f"{df[df.parsed_place == 'Indonesia'].tsunami.value_counts(normalize=True)[1]:0.2%}"

'23.13%'

**3. Calculate summary statistics for earthquakes in Nevada.**

In [33]:
df[df.parsed_place == 'Nevada'].describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

**4. Add a column indicating whether the earthquake happened in a country or US state that is on the Ring of Fire. Use Alaska, Antarctica (look for Antarctic), Bolivia, California, Canada, Chile, Costa Rica, Ecuador, Fiji, Guatemala, Indonesia, Japan, Kermadec Islands, Mexico (be careful not to select New Mexico), New Zealand, Peru, Philippines, Russia, Taiwan, Tonga, and Washington.**

In [35]:
df = df.assign(
    rof = df.parsed_place.isin(
        [ 'Alaska', 'Antarctic', 'Bolivia', 'California', 'Canada', 'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala', \
         'Indonesia', 'Japan', 'Kermadec Islands', 'Mexico' , 'New Zealand', \
         'Peru', 'Philippines', 'Russia', 'Taiwan', 'Tonga', 'Washington']
    )  
)

In [41]:
df[df.rof].parsed_place.str.contains('New Mexico').sum()

0

In [70]:
df.sample(3)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,time,title,tsunami,type,types,tz,updated,url,parsed_place,rof
7398,NaN,NaN,70804189,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.02489,NaN,134.00,",av70804189,",-0.73,ml,...,1537712374540,"M -0.7 - 42km ENE of Adak, Alaska",0,earthquake,",geoserve,origin,phase-data,",-600.0,1537895223860,https://earthquake.usgs.gov/earthquakes/eventp...,Alaska,True
7193,NaN,NaN,61784771,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.01743,NaN,114.00,",av61784771,",0.78,ml,...,1537754347580,"M 0.8 - 45km WSW of Tanaga Volcano, Alaska",0,earthquake,",geoserve,origin,phase-data,",-600.0,1537921303510,https://earthquake.usgs.gov/earthquakes/eventp...,Alaska,True
3389,NaN,NaN,00659313,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.13900,NaN,161.36,",nn00659313,",1.40,ml,...,1538507779061,"M 1.4 Explosion - 77km NNE of Tonopah, Nevada",0,explosion,",geoserve,origin,phase-data,",-480.0,1538532342658,https://earthquake.usgs.gov/earthquakes/eventp...,Nevada,False

Solution she provided. Uses regex and contains versus my `isin`.

In [74]:
df['ring_of_fire'] = df.parsed_place.str.contains(r'|'.join([
    'Alaska', 'Antarctic', 'Bolivia', 'California', 'Canada',
    'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala',
    'Indonesia', 'Japan', 'Kermadec Islands', '^Mexico',
    'New Zealand', 'Peru', 'Philippines', 'Russia',
    'Taiwan', 'Tonga', 'Washington' 
]))

I ran this part separately to see what the regex command would be using.

In [73]:
'|'.join([
    'Alaska', 'Antarctic', 'Bolivia', 'California', 'Canada',
    'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala',
    'Indonesia', 'Japan', 'Kermadec Islands', '^Mexico',
    'New Zealand', 'Peru', 'Philippines', 'Russia',
    'Taiwan', 'Tonga', 'Washington' 
])

'Alaska|Antarctic|Bolivia|California|Canada|Chile|Costa Rica|Ecuador|Fiji|Guatemala|Indonesia|Japan|Kermadec Islands|^Mexico|New Zealand|Peru|Philippines|Russia|Taiwan|Tonga|Washington'

**5. Calculate the number of earthquakes in the Ring of Fire locations and the number outside of them.**

One approach: Using `value_counts` on `rof` after filtering specifically for earthquakes on the `type` field.

In [46]:
df.type.value_counts()

earthquake      9081
quarry blast      95
explosion         80
ice quake         72
other event        4
Name: type, dtype: int64

In [48]:
df[df.type == 'earthquake'].rof.value_counts()

True     7000
False    2081
Name: rof, dtype: int64

Or, better...Actually, I think she got this wrong. She didn't filter for earthquakes.

Much less elegant way. The not rof is particularly tortured, although I'm happy I figured it out.

In [52]:
df[(df.type == 'earthquake')].rof.sum()

7000

In [55]:
df[(df.type == 'earthquake') & (~df.rof)].rof.count()

2081

**6. Find the tsunami count along the Ring of Fire.**

In [58]:
df.tsunami.value_counts()

0    9271
1      61
Name: tsunami, dtype: int64

In [59]:
df[df.rof == 1].tsunami.sum()

45