In [3]:
import pandas as pd
url = 'https://github.com/mattharrison/datasets/raw/master/data/' \
'vehicles.csv.zip'
df = pd.read_csv(url)

<ipython-input-3-9623b8e54534>:4: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [4]:
df.shape

(41144, 83)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41144 entries, 0 to 41143
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        41144 non-null  float64
 1   barrelsA08       41144 non-null  float64
 2   charge120        41144 non-null  float64
 3   charge240        41144 non-null  float64
 4   city08           41144 non-null  int64
 5   city08U          41144 non-null  float64
 6   cityA08          41144 non-null  int64
 7   cityA08U         41144 non-null  float64
 8   cityCD           41144 non-null  float64
 9   cityE            41144 non-null  float64
 10  cityUF           41144 non-null  float64
 11  co2              41144 non-null  int64
 12  co2A             41144 non-null  int64
 13  co2TailpipeAGpm  41144 non-null  float64
 14  co2TailpipeGpm   41144 non-null  float64
 15  comb08           41144 non-null  int64
 16  comb08U          41144 non-null  float64
 17  combA08          41144 non-null  int64
 18  combA08U         41144 non-null  float64
 19  combE            41144 non-null  float64
 20  combinedCD       41144 non-null  float64
 21  combinedUF       41144 non-null  float64
 22  cylinders        40938 non-null  float64
 23  displ            40940 non-null  float64
 24  drive            39955 non-null  object
 25  engId            41144 non-null  int64
 26  eng_dscr         24991 non-null  object
 27  feScore          41144 non-null  int64
 28  fuelCost08       41144 non-null  int64
 29  fuelCostA08      41144 non-null  int64
 30  fuelType         41144 non-null  object
 31  fuelType1        41144 non-null  object
 32  ghgScore         41144 non-null  int64
 33  ghgScoreA        41144 non-null  int64
 34  highway08        41144 non-null  int64
 35  highway08U       41144 non-null  float64
 36  highwayA08       41144 non-null  int64
 37  highwayA08U      41144 non-null  float64
 38  highwayCD        41144 non-null  float64
 39  highwayE         41144 non-null  float64
 40  highwayUF        41144 non-null  float64
 41  hlv              41144 non-null  int64
 42  hpv              41144 non-null  int64
 43  id               41144 non-null  int64
 44  lv2              41144 non-null  int64
 45  lv4              41144 non-null  int64
 46  make             41144 non-null  object
 47  model            41144 non-null  object
 48  mpgData          41144 non-null  object
 49  phevBlended      41144 non-null  bool
 50  pv2              41144 non-null  int64
 51  pv4              41144 non-null  int64
 52  range            41144 non-null  int64
 53  rangeCity        41144 non-null  float64
 54  rangeCityA       41144 non-null  float64
 55  rangeHwy         41144 non-null  float64
 56  rangeHwyA        41144 non-null  float64
 57  trany            41133 non-null  object
 58  UCity            41144 non-null  float64
 59  UCityA           41144 non-null  float64
 60  UHighway         41144 non-null  float64
 61  UHighwayA        41144 non-null  float64
 62  VClass           41144 non-null  object
 63  year             41144 non-null  int64
 64  youSaveSpend     41144 non-null  int64
 65  guzzler          2423 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         6872 non-null   object
 68  sCharger         840 non-null    object
 69  atvType          3560 non-null   object
 70  fuelType2        1606 non-null   object
 71  rangeA           1601 non-null   object
 72  evMotor          852 non-null    object
 73  mfrCode          10326 non-null  object
 74  c240Dscr         81 non-null     object
 75  charge240b       41144 non-null  float64
 76  c240bDscr        79 non-null     object
 77  createdOn        41144 non-null  object
 78  modifiedOn       41144 non-null  object
 79  startStop        9440 non-null   object
 80  phevCity         41144 non-null  int64
 81  phevHwy          41144 non-null  int64
 82  phevComb         41144 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 25.8+ MB

In [8]:
def gt20(val):
    return val > 20

In [15]:
df.loc[:, df.columns.str.contains("city")]

       city08  city08U  cityA08  cityA08U  cityCD  cityE  cityUF
0          19      0.0        0       0.0     0.0    0.0     0.0
1           9      0.0        0       0.0     0.0    0.0     0.0
2          23      0.0        0       0.0     0.0    0.0     0.0
3          10      0.0        0       0.0     0.0    0.0     0.0
4          17      0.0        0       0.0     0.0    0.0     0.0
...       ...      ...      ...       ...     ...    ...     ...
41139      19      0.0        0       0.0     0.0    0.0     0.0
41140      20      0.0        0       0.0     0.0    0.0     0.0
41141      18      0.0        0       0.0     0.0    0.0     0.0
41142      18      0.0        0       0.0     0.0    0.0     0.0
41143      16      0.0        0       0.0     0.0    0.0     0.0

[41144 rows x 7 columns]

In [17]:
city_mpg = df.city08

In [19]:
%%timeit
city_mpg.apply(gt20)

4.46 ms ± 15.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [21]:
%%timeit
city_mpg.gt(20)

46.2 µs ± 165 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [22]:
city_mpg.apply(gt20).equals(city_mpg.gt(20))

True

In [24]:
make= df.make
make.value_counts()

Chevrolet                      4003
Ford                           3371
Dodge                          2583
GMC                            2494
Toyota                         2071
                               ...
Volga Associated Automobile       1
Panos                             1
Mahindra                          1
Excalibur Autos                   1
London Coach Co Inc               1
Name: make, Length: 136, dtype: int64

In [32]:
top5 = make.value_counts().index[:5]

In [33]:
top5

Index(['Chevrolet', 'Ford', 'Dodge', 'GMC', 'Toyota'], dtype='object')

In [34]:
def generalize_top5(val):
    if val in top5:
        return val
    else:
        return 'Other'

In [35]:
make.apply(generalize_top5)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [37]:
make.where(make.isin(top5), 'Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [40]:
make.mask(~make.isin(top5), 'Other').equals(make.where(make.isin(top5), 'Other'))

True

In [50]:
top10 =  make.value_counts().index[:10]
top10

Index(['Chevrolet', 'Ford', 'Dodge', 'GMC', 'Toyota', 'BMW', 'Mercedes-Benz',
       'Nissan', 'Volkswagen', 'Mitsubishi'],
      dtype='object')

In [64]:
(make
 .where(make.isin(top5),'Top10')
 .where(make.isin(top10), 'Other')
)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [65]:
cyl = df.cylinders

In [68]:
(cyl
 .isna()
 .sum()
)

206

In [69]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [71]:
make[cyl.isna()]

7138     Nissan
7139     Toyota
8143     Toyota
8144       Ford
8146       Ford
          ...
34563     Tesla
34564     Tesla
34565     Tesla
34566     Tesla
34567     Tesla
Name: make, Length: 206, dtype: object